<div class="well">
  <center><h1>ABOUT</h1></center>
  <h3><p>This is a website for all the residence associations out there.</p>
    <p>If your residence association does not have a website......here are we....we provide you with a sub domain for your residence association</p>
    <p>Every association who needs to register should need an admin , who is registering with the website.</p>
    <p>You will get a whole lot of services from us which will help to maintain an active website for your residence association</p></h3>

</div>