<h1>Editing Residence Association</h1>

<%= render 'form', residence_association: @residence_association %>

<%= link_to 'Show', @residence_association %> |
<%= link_to 'Back', residence_associations_path %>
